<img src="../../assets/img/cart.png" alt="imagen de carrito de compras">
<table class="table">
    
    @if (cart.length > 0){
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @for (hamster of cart; track hamster.type) { 

            <tr [ngClass]="{'clearance': hamster.clearance}">
                <td>{{hamster.type}}</td>
                <td>{{hamster.price | currency}}</td>
                <td>{{hamster.quantity}}</td>
            </tr>
            <button class="btn btn-danger">Vaciar carrito</button>
        } @empty {
            <tr>
                <td colspan="3">Vacío</td>
            </tr>
        }
    </tbody>
    }
</table>