<img src="../../assets/img/cart.png" alt="imagen de carrito de compras">
<table class="table text-center">
    
    
    <thead>
        <!--<tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </thead>
        </tr>-->
    <tbody>
        <!--@for (hamster of cart; track hamster.type) { 

            <tr [ngClass]="{'clearance': hamster.clearance}">
                <td>{{hamster.type}}</td>
                <td>{{hamster.price | currency}}</td>
                <td>{{hamster.quantity}}</td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>

        } @empty {
            <tr>
                <td colspan="3">Vacío</td>
            </tr>
        }

        @if (cart !== null) {
            <tr>
                <td colspan="4">
                    <button class="btn btn-danger">Vaciar carro</button>
                </td>
            </tr>
        } -->
    </tbody>
</table>