.navbar{
    background-color: #bc9cbc;
}

.container{
  background-color: #f7d1ce;
  display: contents;
  max-width: 100%;
}

footer{
  padding: 1%;
  background-color: #bc9cbc;
  text-align: center;

}

.img-brand{
  width: 100px;
  align-items: flex-end;
  background: transparent;
}

.img-footer{
  width: 30px;
  align-items: flex-end;
  background: transparent;
}

