.clearance {
    border: 2px solid green;
}

th {
    background-color: #eba96f;
}

td {
    vertical-align: middle;
    text-align: center;
    background-color: #f7d0af;
}

h1 {
    background-color: #c6d673;
}
