<h1>Lista de hamsters:</h1>
<table class="table-primary text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (hamster of hamsters; track hamster.type) { <!--"track" funciona como id-->

            <tr [ngClass]="{'clearance': hamster.clearance}"><!--[ngClass]"{'nombreclase': condición}" manipula clases CSS, directiva de atributo -->
                <td><img [src]="hamster.image" width="100" class="img-thumbnail" [alt]="hamster.type"/></td>
                <td>{{hamster.type}}</td>
                <td>{{hamster.price | currency}}</td>

                @if (hamster.stock > 0) {
                    <td>{{hamster.stock}}</td>
                    <td>
                        <app-input-integer [(quantity)] = "hamster.quantity" [max] = "hamster.stock" (mError)="mError($event)"></app-input-integer>
                            <!--hacemos HERENCIA-->
                    </td>
                    
                } @else {
                    <td><span class="badge text-bg-warning">Sin Stock</span></td>
                    <td>
                        <button class="btn btn-primary disabled">No se puede agregar a carro</button>
                    </td>
                }

            </tr>
        } @empty { <!--"@empty" funciona si el arreglo está vacío, es como un "@if" -->
            <tr>
                <td colspan="4">No hay hamsters para mostrar</td>
            </tr>
        }

    </tbody>
</table>